@font-face {
    font-family: 'Liana';
    src: url('Liana.eot');
    src: local('Liana'),
        url('Liana.eot?#iefix') format('embedded-opentype'),
        url('Liana.woff2') format('woff2'),
        url('Liana.woff') format('woff'),
        url('Liana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

