@import url('./assets/fonts/good_vibes/stylesheet.css');
@import url('./assets/fonts/MinionPro/stylesheet.css');
@import url('./assets/fonts/Monterchi/stylesheet.css');

:root {
  font-family: 'Minion Pro', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-size: 28px;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  width: 100%;
}

i {
  font-family: 'Good Vibes Pro';
  font-weight: 400;
  font-style: normal;
}
