:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin rotated-text($num-letters: 31, $angle-span: 360deg, $angle-offset: -40deg) {
  $angle-per-char: $angle-span / $num-letters;

  @for $i from 1 through $num-letters {
    .char#{$i} {
      rotate: ($angle-offset + $angle-per-char * $i);
    }
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @include rotated-text();
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  width: 100%;
}

i {
  font-family: 'Good Vibes Pro';
  font-weight: 400;
  font-style: normal;
}
